{% extends 'base.html.twig' %}

{% block title %}Ajouter film{% endblock %}

{% block body %}
<main class="container-fluid">
    <turbo-frame id="id_category">
        {% for message in app.flashes('success') %}
        <div class="flash-notice">
            {{ message }}
        </div>
        {% endfor %}

        {{ form_errors(form) }}

        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.synopsis) }}
        {{ form_row(form.cover) }}
        {{ form_row(form.createdAt) }}
        {{ form_row(form.categories) }}
        {{ form_row(form.directors) }}
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </turbo-frame>
</main>
{% endblock %}